*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

main{
    width: 100vw;
    height: 100vh;
    background-color: rgb(222, 218, 218);
    font-family: sans-serif;
}

.menu{
    width: 33%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    gap: 3rem;
    padding-top: 2rem;
    transition: all 0.3s linear;
}

.menuItems{
    list-style: none;
    font-size: 2.4rem;
    color: grey;
    display: flex;
    flex-direction: column;
    gap: 1rem;
         cursor: pointer;
}

.menu-icon{
    position: fixed;
    top: 4rem;
    right: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     width: 2.5rem;
     height: 2.5rem;
     cursor: pointer;
     transition: all 0.3s linear;
}

.move{
    transform: translate(-100%);
}
.menu-icon div{
    width: 100%;
    height: 20%;
    background-color: rgb(223, 27, 27);
}

.menu-icon:hover div{
 background-color: rgb(3, 3, 3);
}

.crossBtn{
    cursor: pointer;
    transition: all 0.3s linear;
}

li{

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3rem;
     height: 6rem;
     transition: all 0.3s ease-in-out;

}
.menuItems li:hover{
    background-color: rgb(236, 124, 124);
}